Repository rambler-digital-solutions/widgetly: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.json": ["prettier --write"]
}

Deploying to gh-pages from @ rambler-digital-solutions/widgetly@26753c65e83a800f359b6f6994f42f40670d7e0b 🚀
  .nojekyll
  assets/custom.css
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/BaseLayout.html
  classes/Container.html
  classes/ContentElement.html
  classes/EmbedLayout.html
  classes/IFrameConsumer.html
  classes/IFrameProvider.html
  classes/Mediator.html
  classes/OverlayLayout.html
  classes/Widget.html
  functions/createMediator.html
  functions/createViewportManager.html
  functions/registerIFrame.html
  functions/setMutationParams.html
  hierarchy.html
  index.html
  interfaces/Callback.html
  interfaces/ContainerElement.html
  interfaces/Debounce.html
  interfaces/EmbedLayoutConfig.html
  interfaces/EnterViewportOptions.html
  interfaces/ExternalizedWidget.html
  interfaces/IFrameConsumerConfig.html
  interfaces/MediatorConfig.html
  interfaces/OverlayLayoutConfig.html
  interfaces/ViewportManager.html
  interfaces/VisibleArea.html
  interfaces/WidgetConfig.html
  modules.html
  variables/globalViewportEvents.html
  variables/mutationEvents.html
Due: prettier --write, eslint --fix, stylelint --fix

Notes added by 'git notes add'
  26753c65e83a800f359b6f6994f42f40670d7e0b
Due: none

docs: update
  README.md
  package.json
  typedoc.json
Due: prettier --write

Deploying to gh-pages from @ rambler-digital-solutions/widgetly@0088f61729f2e3ccaf197cf8e8752f96ada9b5fd 🚀
  classes/BaseLayout.html
  classes/Container.html
  classes/ContentElement.html
  classes/EmbedLayout.html
  classes/IFrameConsumer.html
  classes/IFrameProvider.html
  classes/Mediator.html
  classes/OverlayLayout.html
  classes/Widget.html
  functions/createMediator.html
  functions/createViewportManager.html
  functions/registerIFrame.html
  functions/setMutationParams.html
  hierarchy.html
  index.html
  interfaces/Callback.html
  interfaces/ContainerElement.html
  interfaces/Debounce.html
  interfaces/EmbedLayoutConfig.html
  interfaces/EnterViewportOptions.html
  interfaces/ExternalizedWidget.html
  interfaces/IFrameConsumerConfig.html
  interfaces/MediatorConfig.html
  interfaces/OverlayLayoutConfig.html
  interfaces/ViewportManager.html
  interfaces/VisibleArea.html
  interfaces/WidgetConfig.html
  modules.html
  variables/globalViewportEvents.html
  variables/mutationEvents.html
Due: none

fix: fix internal types
  package.json
  src/iframe/consumer.ts
  src/iframe/provider.ts
  src/index.ts
  src/layouts/content-element.ts
  src/mediator.ts
  src/types/index.ts
  src/utils/event-emitter.ts
  src/widget.ts
  yarn.lock
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  85812efa025826b7ca7d4f714c43517ecace83c6
Due: none

Deploying to gh-pages from @ rambler-digital-solutions/widgetly@85812efa025826b7ca7d4f714c43517ecace83c6 🚀
  assets/navigation.js
  assets/search.js
  classes/BaseLayout.html
  classes/Container.html
  classes/ContentElement.html
  classes/EmbedLayout.html
  classes/IFrameConsumer.html
  classes/IFrameProvider.html
  classes/Mediator.html
  classes/OverlayLayout.html
  classes/Widget.html
  functions/createMediator.html
  functions/createViewportManager.html
  functions/registerIFrame.html
  functions/setMutationParams.html
  hierarchy.html
  index.html
  interfaces/Callback.html
  interfaces/ContainerElement.html
  interfaces/Debounce.html
  interfaces/EmbedLayoutConfig.html
  interfaces/EnterViewportOptions.html
  interfaces/ExternalizedWidget.html
  interfaces/IFrameConsumerConfig.html
  interfaces/MediatorAPI.html
  interfaces/MediatorConfig.html
  interfaces/OverlayLayoutConfig.html
  interfaces/ViewportManager.html
  interfaces/VisibleArea.html
  interfaces/WidgetAPI.html
  interfaces/WidgetConfig.html
  modules.html
  variables/globalViewportEvents.html
  variables/mutationEvents.html
Due: prettier --write, eslint --fix

fix: add missed sideEffects
  .size-limit.js
  package.json
  src/iframe/consumer-resizer.ts
  yarn.lock
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ rambler-digital-solutions/widgetly@d9e135e74ec2f5367f500538bede116e8a635785 🚀
  classes/BaseLayout.html
  classes/Container.html
  classes/ContentElement.html
  classes/EmbedLayout.html
  classes/IFrameConsumer.html
  classes/IFrameProvider.html
  classes/Mediator.html
  classes/OverlayLayout.html
  classes/Widget.html
  functions/createMediator.html
  functions/createViewportManager.html
  functions/registerIFrame.html
  functions/setMutationParams.html
  hierarchy.html
  index.html
  interfaces/Callback.html
  interfaces/ContainerElement.html
  interfaces/Debounce.html
  interfaces/EmbedLayoutConfig.html
  interfaces/EnterViewportOptions.html
  interfaces/IFrameConsumerConfig.html
  interfaces/MediatorAPI.html
  interfaces/MediatorConfig.html
  interfaces/OverlayLayoutConfig.html
  interfaces/ViewportManager.html
  interfaces/VisibleArea.html
  interfaces/WidgetAPI.html
  interfaces/WidgetConfig.html
  modules.html
  variables/globalViewportEvents.html
  variables/mutationEvents.html
Due: none

Notes added by 'git notes add'
  d9e135e74ec2f5367f500538bede116e8a635785
Due: none
